.parent {
    background-image: url(pimg/pngtree-housekeeping-recruitment-poster-background-picture-image_992277.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* opacity */

.contact {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}