.grand-parent {
    padding-top: 10px;
    background-image: url(pimg/pngtree-housekeeping-recruitment-poster-background-picture-image_992277.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: white;
    width: 100%;
}
                                                /* opacity */
.bgc {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.508);
    background-attachment: fixed;
}
                                                  /* navbar */
.nav1 {
    display: flex;
    justify-content: space-evenly;
    background-color: blue;
    color: white;
    height: 60px;
    border-radius: 30px;
    position: sticky;
}

.nav-links {
    text-decoration: none;
    color: white;
    padding: 20px;
}

.dropdown-content {
    display: none;
}

.dropdown {
    padding: 20px;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    background-color: blue;
    color: white;
    margin-top: 15px;
}

.head1 {
    margin-top: 20px;
}

p {
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}