@media (max-width: 650px) {
    .content {
      display: none;
    }
    .icon {
      text-align: center;
    }
    .nav02-1 {
      display: none;
    }
  
    .hide01 {
      display: inline-block;
      color: #fff;
      font-size: 35px;
      margin: 7px 10px 0px 0px;
    }
    .hide02 {
      background-color: #fff;
      color: #1f272b;
      position: absolute;
      z-index: -20;
      margin-left: -420px;
      margin-top: 70px;
      display: none;
      width: 350px;
      height: 240px;
      text-align: center;
    }
      

    .hide02 > a {
      display: grid;
      grid-template-columns: auto;
      width: 200px;
      font-size: 15px;
      margin-left: 70px;
      /* margin-top: 20px */
    }
    .student {
      max-width: 600px;
      position: absolute;
      top: 130px;
      left: 10px;
      color: #f8f9fa;
      
    }
    .hello {
      margin-bottom: 10px;
    }
    .welcome {
      margin-bottom: 10px;
    }
    .welcome-1 {
      margin-bottom: 15px;
      line-height: 20px;
    }


    .best {
      display: grid;
      grid-template-columns: auto;
      justify-content: center;
      gap: 20px;
      margin-top: 25px;
    }
    .arrow-1 {
      display: none;
    }
    .arrow {
      display: none;
    }
    .opecity {
      height: 353.8px;
      width: 100%;
      position: absolute;
      top: 32px;
      background: linear-gradient(rgba(31, 39, 43, 0.75), rgba(31, 39, 43, 0.75));
    }
    .main3-2 {
      width: 100%;
      height: 3500px;
      position: relative;
      top: -545px;
      object-fit: cover;
    }


    .main-2 {
      position: relative;
      bottom: 0px;
      justify-content: center;
      display: grid;
      grid-template-columns: auto;
    }
    .best01 {
      position: absolute;
      top: 50px;
      left: 105px;
      max-width: 320px;
      color: #f8f9fa;
      text-align: center;
    }
    .best02 {
      position: absolute;
      left: 130px;
      top: 380px;
      max-width: 320px;
      color: #f8f9fa;
      text-align: center;
    }
    .best03 {
      position: absolute;
      left: 130px;
      top: 700px;
      max-width: 320px;
      color: #f8f9fa;
      text-align: center;
    }
    .upcomingmeeting {
      position: absolute;
      top: 470px;
      color: #f8f9fa;
      font-size: 18px;
    }
    .up {
      margin-left: 120px;
      margin-top: 20px;
    }
  
    .hr {
      display: none;
    }
    .meeting01 {
      position: absolute;
      top: 40px;
      left: 10px;
      height: 450px;
      background-color: #ffff;
      color: #212529;
      width: 530px;
      font-size: 15px;
      border-radius: 25px;
    }


    .meeting02-1 {
      display: grid;
      grid-template-columns: auto;
      gap: 30px;
      margin: 440px 0px 0px -70px;
    }
    .online {
      height: 400px;
      width: 530px;
      margin-top: 0px;
      border-radius: 30px;
      background-color: white;
    }
    .newlec {
      height: 400px;
      width: 530px;
      border-radius: 30px;
      background-color: white;
    }
    .img-1 {
      border-radius: 30px 30px 0px 0px;
      height: 250px;
      width: 100%;
    }
    .newlec-1 {
      color: #212529;
      display: flex;
    }
    .date {
      margin: 25px 0px 0px 30px;
      font-size: 17px;
    }
    .date-1 {
      font-size: 20px;
      margin: 30px 0px 0px 35px;
      width: 250px;
    }
    .smallbox {
      height: 35px;
      width: 90px;
      margin-left: 25px;
      text-align: center;
      position: absolute;
      top: 610px;
      background-color: white;
      color: black;
      border-radius: 10px;
    }
    .smallbox-1 {
      height: 35px;
      width: 90px;
      margin-left: 25px;
      text-align: center;
      position: absolute;
      top: 1040px;
      background-color: white;
      color: black;
      border-radius: 10px;
    }

    
    .meeting02-2 {
      display: grid;
      grid-template-columns: auto;
      gap: 30px;
      margin-top: 30px;
      margin-left: -70px;
    }
    .smallbox-2 {
      position: absolute;
      top: 1470px;
      height: 35px;
      width: 90px;
      margin-left: 25px;
      text-align: center;
      background-color: white;
      color: black;
      border-radius: 10px;
    }
    .smallbox-3 {
      position: absolute;
      top: 1900px;
      height: 35px;
      width: 90px;
      margin-left: 25px;
      text-align: center;
      background-color: white;
      color: black;
      border-radius: 10px;
    }
  
    .main-4 {
      position: relative;
      top: 2400px;
      background: url(apply-bg.jpg) no-repeat center center / cover fixed;
      height: 2600px;
      width: 100%;
      object-fit: contain;
    }
    .degree-right {
      height: 490px;
      width: 490px;
      background-color: white;
      border-radius: 20px;
      margin: 605px 0px 0px 50px;
    }
    .main4-1 {
      position: absolute;
      top: 50px;
      left: 0px;
    }
    .degree-1 {
      height: 280px;
      width: 490px;
      position: absolute;
      top: 0px;
      left: 50px;
      background-color: rgba(255, 255, 255, 0.116);
      color: #f8f9fa;
    }
    .apply {
      margin: 40px 0px 0px 30px;
    }
    .apply-1 {
      margin: 20px 0px 0px 25px;
      line-height: 30px;
    }
    .about {
      padding: 40px 0px 0px 30px;
    }
    .about-1 {
      padding: 0px 0px 0px 30px;
    }
    .about01 {
      color: #f5a425;
      font-size: 18px;
    }
    .about-1-1 {
      font-size: 18px;
      color: #1f272b;
    }
    .hr-10 {
      width: 430px;
      opacity: 0.2;
      margin-top: 10px;
    }
    .about02 {
      font-size: 13.5px;
      width: 420px;
      text-align: justify;
      line-height: 22px;
      margin: 25px 0px 0px 0px;
    }
  
    .degree-2 {
      height: 270px;
      width: 490px;
      position: absolute;
      top: 300px;
      left: 50px;
      background-color: rgba(255, 255, 255, 0.116);
      color: #f8f9fa;
    }
    .arrow-2 {
      display: none;
    }
    .arrow-3 {
      display: none;
    }
    .img-2 {
      width: 100%;
      height: 1900px;
      object-fit: cover;
    }
    .our {
      position: absolute;
      top: 40px;
      left: 40px;
      color: #f8f9fa;
      font-size: 16px;
    }
    .hr-3 {
      width: 506px;
      opacity: 0.3;
      margin-top: 30px;
    }


    .cours {
      display: grid;
      grid-template-columns: auto;
      gap: 30px;
      margin-top: 40px;
    }
    .cours-1 {
      height: 400px;
      width: 510px;
      background-color: white;
    }
    .cours-img {
      width: 510px;
      height: 250px;
    }
    .cours1-1 {
      font-size: 20px;
      color: #1f272b;
      font-weight: 300;
      width: 460px;
      line-height: 27px;
      text-align: center;
    }
    .hr-4 {
      width: 509px;
      opacity: 0.3;
    }


    .star {
      display: grid;
      grid-template-columns: auto auto auto auto auto auto;
      margin: 30px 0px 0px 25px;
      letter-spacing: 3px;
      font-size: 14px;
      color: #ffc107;
    }
    .star-1 {
      color: #a12c2f;
      margin-left: 315px;
    }
    .main-6 {
      background: url(facts-bg.jpg) no-repeat center center / cover fixed;
      height: 1500px;
      position: relative;
      top: 1005px;
    }
    .btn04 {
      display: none;
    }


    .main-6-1 {
      position: absolute;
      top: 80px;
      left: 50px;
      display: grid;
      grid-template-columns: auto;
    }
    .succese01 {
      font-size: 45px;
      font-weight: 800;
      width: 500px;
      color: #f8f9fa;
    }

                                             /* change */

    .succese02 {
      display: grid;
      grid-template-columns: auto;
      gap: 15px;
      margin-top: 50px;
    }
    .succese02-1 {
      background-color: #ffffff1d;
      color: #f8f9fa;
      height: 160px;
      width: 500px;
      text-align: center;
      border-radius: 20px;
    }
    .succese02-2 {
      background-color: #ffffff1d;
      color: #f8f9fa;
      height: 160px;
      width: 500px;
      text-align: center;
      border-radius: 20px;
    }
    .succese02-3 {
      background-color: #ffffff1d;
      color: #f8f9fa;
      height: 160px;
      width: 500px;
      text-align: center;
      border-radius: 20px;
      margin-top: -15px;
    }
    .succese02-4 {
      background-color: #ffffff1d;
      color: #f8f9fa;
      height: 160px;
      width: 500px;
      text-align: center;
      border-radius: 20px;
      margin-top: 15px;
    }
    .succese-1 {
      height: 400px;
      width: 500px;
      margin-top: -50px;
      margin-left: 7px;
      border-radius: 30px;
    }
    .videobg {
      height: 400px;
      width: 500px;
      border-radius: 30px;
    }
    .playicon {
      position: absolute;
      top: 1110px;
      left: 220px;
    }
    .main7-img {
      width: 100%;
      height: 1550px;
      object-fit: cover;
    }


    .box {
      position: absolute;
      top: 100px;
      left: 48px;
      display: grid;
      grid-template-columns: auto;
      gap: 60px;
    }
    .box-1 {
      height: 660px;
      width: 500px;
      background-color: #fff;
      border-radius: 25px;
    }
    .box1-1 {
      font-size: 21px;
      font-weight: 800;
      color: #1f272b;
      margin: 25px 0px 0px 40px;
    }
    .hr-5 {
      width: 430px;
      opacity: 0.3;
      margin: 15px 0px 0px 40px;
    }
    input {
      height: 40px;
      width: 420px;
      border-radius: 25px;
      border: none;
      background-color: #f7f7f7;
      color: #7a7a7a;
      margin: 40px 0px 0px 40px;
    }
  
    .input-1 {
      margin-left: 40px;
    }
    .area {
      margin: 25px 0px 0px 40px;
      border-radius: 20px;
      width: 420px;
      border: none;
      color: #7a7a7a;
      background-color: #f7f7f7;
    }
    .btn-5 {
      background-color: #a12c2f;
      color: #fff;
      height: 45px;
      width: 200px;
      font-size: 13px;
      font-weight: 600;
      border-radius: 50px;
      border: none;
      margin: 35px 0px 0px 40px;
    }
    .box-2 {
      height: 440px;
      width: 500px;
      margin-top: -25px;
      background-color: #a12c2f;
      color: #fff;
      border-radius: 25px;
    }
    .footar {
      height: 250px;
      width: 100%;
      position: absolute;
      top: 1350px;
      text-align: center;
    }
    .phone {
      margin: 30px 0px 0px 50px;
      font-size: 16px;
    }
    .phone01 {
      margin: 30px 0px 0px 50px;
      font-size: 14px;
    }
    .phone-1 {
      margin-top: 12px;
    }
    .phone02 {
      margin: 30px 0px 0px 50px;
      font-size: 14px;
    }
    .phone-2 {
      margin-top: 12px;
      width: 350px;
    }
  
    .hr-6 {
      width: 190px;
      opacity: 0.3;
      margin-top: 20px;
    }
    .hr-7 {
      width: 230px;
      opacity: 0.3;
      margin-top: 20px;
    }
    .hr-8 {
      width: 370px;
      opacity: 0.3;
      margin-top: 20px;
    }
  }